section.container__right
    nav.right__menu
        a.menu__inicio(href="#") Inicio
        a.menu__productos(href="#") Productos
        a.menu__quienessomos(href="#") Quiénes Somos
    a.right__button(href="#") Contactar
    //- picture (foto de marca => Branding)
    //- con SEO
    //- nombre,alt,dispositivos(m / i / d),mobilMax,ipadMin,ipadMax,desktopMin
    //- +picture('sofa','sofa azulito')

    //- background image (foto es de una biblioteca)
    //- background = OK!
    //- sin SEO
    //- figure.imagen__perro: img(src="/assets/img/desktop/perro.jpg", alt="perro abandonado")


