include ../mixin/picture
include ../mixin/picture_completo

<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/main.css")
        title Sofas
    body
        //- Contenedor principal
        #container
            include section_1
            include section_2
        .imagen__sofa
